gym==0.12.5
pybullet
matplotlib
pandas
ruamel.yaml
tensorflow==1.14
stable_baselines==2.7
git+https://github.com/eleramp/ycb-objects-models-sim.git
git+https://github.com/eleramp/icub-model-pybullet.git
