<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="robot_name" default="panda"/>

  <!-- Empty link to referr everything to -->
  <link name="world" />

  <!-- Robot arm -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.transmission.xacro"/>

  <!-- Robot1 Pedestal -->
  <xacro:include filename="$(find franka_description)/robots/robot_pedestal/robot_pedestal.urdf.xacro"/>
  <xacro:robot_pedestal_urdf pedestal_prefix="robot1_" pedestal_parent="world" pedestal_height="0.3">
    <origin xyz="0.3 -0.5 0.0" rpy="0 0 0"/>
  </xacro:robot_pedestal_urdf>

  <!-- Camera-->
  <!--xacro:include filename="$(find franka_description)/robots/panda_camera.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda_camera.gazebo.xacro"/-->

  <!-- bins -->
  <xacro:include filename="$(find franka_description)/robots/bin/bin.urdf.xacro"/>
  <xacro:bin_urdf prefix="bin_1_"/>
  <xacro:bin_urdf prefix="bin_2_"/>

  <!-- Robot arm definition-->
  <xacro:panda_arm />
  <xacro:panda_gazebo robot_name="$(arg robot_name)" />
  <xacro:panda_transmission robot_name="$(arg robot_name)" />

  <!-- Camera definition-->
  <!--xacro:panda_camera ns="panda" connected_to="world" rpy="0 ${-pi/3} ${pi}" xyz="1 0 0.05"/>
  <xacro:panda_camera_gazebo /-->

  <!-- pedestal to world -->
  <joint name="robot1_pedestal_to_world_interface" type="fixed">
    <parent link="world" />
    <child link="robot1_pedestal_link" />
    <origin xyz="0.4 -0.6 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- bin 1 -->
  <joint name="bin_1_joint" type="fixed">
    <parent link="world" />
    <child link="bin_1_base_link" />
    <origin xyz="0.3 0.55 0" rpy="0 0 0" />
  </joint>

  <!-- bin 2 -->
  <joint name="bin_2_joint" type="fixed">
    <parent link="world" />
    <child link="bin_2_base_link" />
    <origin xyz="0.4 -0.6 0.3" rpy="0 0 0" />
  </joint>


</robot>
